// your scss files should import here 💪🏻
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-decoration: none;
  font-style: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, brown, #ebf8e1, brown);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 100vh;
}
nav {
  background-color: rgb(88, 14, 27);

  width: 95vw;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  list-style: none;
  color: white;
  &:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(15, 88, 34);
  }
}
.product-list {
  width: 90vw;
  height: 70%;
}
.slider-section {
  border: 3px rgb(0, 0, 0) solid;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  height: auto;
  flex: 1;
  .slider-pictures-section {
    .previous {
      button {
        display: none;
      }

      img {
        opacity: 90%;
      }
      opacity: 90%;
      transform: skew(-10deg, -10deg) scale(0.7) rotate(-10deg);
    }
    .middle {
      button {
        background-color: transparent;
        color: black;
      }
    }
    .next {
      opacity: 90%;
      margin: 0;
      img {
        opacity: 90%;
      }
      button {
        display: none;
      }
      transform: skew(10deg, 10deg) scale(0.7) rotate(10deg);
    }

    display: flex;
    align-items: center;
    flex-direction: row;
  }
  img {
    width: 40%;
  }

  .btn-for-slider {
    font-size: 3rem;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background-color: transparent;
  }
  button:disabled {
    display: none;
  }
}
.product {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
}
.product li {
  list-style: none;
  border: 2.5px solid rgb(0, 0, 0);
  text-align: center;
  padding: 15px;
  margin: 15px;
  width: 20%;
  background-color: rgba(146, 142, 142, 0.103);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  &:visited {
    color: darkslategrey;
  }
  &:hover {
    color: lightslategray;
  }
}
button {
  background-color: rgb(0, 0, 0);
  border-radius: 5%;
  padding: 9%;
  margin: 5%;
  border: none;
  color: white;
}
button:disabled {
  background-color: gray;
}
h5 {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
i {
  font-size: 3rem;
  font-style: normal;
}
.test {
  background-color: orangered;
}
.product-info {
  list-style: none;
  border: 2.5px solid rgb(0, 0, 0);
  text-align: center;
  padding: 15px;
  margin: 15px;
  width: 40%;
  background-color: rgba(146, 142, 142, 0.233);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .product li {
    padding: 10px;

    width: 100%;
  }
  .product-info {
    list-style: none;
    border: 2.5px solid rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    background-color: rgba(146, 142, 142, 0.233);
    display: block;
    img {
      width: 50%;
    }
  }
}
